body {
    margin: 60px auto;
    width: 70%;
    background-color: #82617B; 
    color: #FFFFFF; /* The page text will be white */
}
nav ul, footer ul {
    font-family:'Roboto', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #29293d;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Comic Sans';
    color: #4B455F;
}
p {
    font-size: 1.2em;
    line-height: 1.3em;
    color: #29293d;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .7em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.3em;
}

ul.posts li {
    list-style: none;
}
