body {
    margin: 60px auto;
    width: 70%;
    background-color: #E2DDD9; 
    color: #4C3849;
}
nav ul, footer ul {
    font-family:'Roboto';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #29293d;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Roboto';
    color: #4C3849;
}
p {
    font-size: 1.2em;
    line-height: 1.3em;
    color: #262128;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .7em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.3em;
}

ul.posts li {
    list-style: none;
}
